//Colors
$color-gray-100:#f7f7f7;
$color-gray-400:#777;
$color-white:#fff;
$color-green-400-rgba: rgba( 126, 213 ,111, 0.8);
$color-green-200-rgba:rgba(40,180,131,0.8);
$color-green-400:#55c57a;
$color-orange-400:#ff7730;
$color-orange-200:#ffb900;
$color-green-200:#7ed561;
$color-green-400:#28b485;
$color-blue-200:#2998ff;
$color-purple-300:#5643fa;
///
